{% extends "scheduler/base.html" %}
{% block title %}Account{% endblock %}
{% block body %}
<div class="page-header">
    <h2>
        Your Account
    </h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Controls
        </h3>
    </div>
    <div class="panel-body">
        <p><a href="/accounts/createschedule/">Create a New Schedule</a></p>
        <p><a href="/user/{{ user.id }}">View My Public Profile</a></p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            My Schedules
        </h3>
    </div>
    <div class="panel-body">
        {% if schedules %}
        <ul>
            {% for schedule in schedules %}
            <li><a href="/schedule/{{ schedule.id }}">{{ schedule }}</a> - {{ schedule.get_visibility_display }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <h4>You have not created any schedules yet!</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
