{% extends "scheduler/base.html" %}
{% block title %}Account{% endblock %}
{% block body %}
<div class="page-header">
    <h2>
        Your Account
    </h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Controls
        </h3>
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <a class="btn btn-default" href="/accounts/createschedule/">Create a New Schedule</a>
            <a class="btn btn-default" href="/user/{{ user.id }}">View My Public Profile</a>
            {% if request_user_has_main_schedule %}
            <a class="btn btn-default" href="/schedule/{{ main_schedule.id }}">{{ main_schedule }}</a>
            {% else %}
            <span class="btn">You have no main schedule.</span>
            {% endif %}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            My Schedules
        </h3>
    </div>
    <div class="panel-body">
        {% if schedules %}
        <ul>
            {% for schedule in schedules %}
            <li><a href="/schedule/{{ schedule.id }}">{{ schedule }}</a> - {{ schedule.get_visibility_display }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <h4>You have not created any schedules yet!</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
