body {
    padding-top:55px;
}

/*Username Link in Nav*/
p.navbar-text.navbar-right a {
	color: #999;
	padding: 15px;
}

p.navbar-text.navbar-right a:hover {
	text-decoration: none;
	color: #fff;
}

/*End - Username Link in Nav*/
/*create event form styling*/
span.formTime::before, span.formDate::before, span.formMisc::before, span#sunday::before{content: "\a"; white-space: pre;}
span.formItem label{width:6em;}
span.formWeek label
{
	width: auto;
	padding:0 .2em;
}
/*end- create event styling */

.leftalign {
    text-align:left;
}
div.row div.leftalign {
    text-align:left;
}
.centeralign {
    text-align:center;
}
.rightalign {
    text-align:right;
}
.vcenter {
    vertical-align:center;
}
