body {
    padding-top:55px;
    background-color: #E9EAED;
}

/*Username Link in Nav*/
p.navbar-text.navbar-right a {
	color: #999;
	padding: 15px;
}

p.navbar-text.navbar-right a:hover {
	text-decoration: none;
	color: #fff;
}

/*End - Username Link in Nav*/
/*create event form styling*/
span.formTime::before, span.formDate::before, span.formMisc::before{content: "\a"; white-space: pre;}
span.formItem label{width:6em;}
span.formWeek label
{
	width: auto;
	padding:0 .2em;
}
/*end- create event styling */

form div.field-error {
	display: inline-block;
}

form div.field-error ul {
	list-style-type: none;
	padding-left: 15px;
}

.leftalign {
    text-align:left;
}
div.row div.leftalign {
    text-align:left;
}
.centeralign {
    text-align:center;
}
.rightalign {
    text-align:right;
}
.vcenter {
    vertical-align:center;
}

.login form {
	margin: auto;
	width:60%;
}

.login {
	padding: 100px;
}

.login label {
	width:5.5em;
}

.login div input.btn {
	margin: 20px 0px 0px 25px;
}

p.alert-danger {
	text-align: center;
	margin: 25px 25px -25px 25px;
	padding: 15px;
}

form.create-schedule {
	padding: 100px;
	width: 50%;
	margin: auto;
	margin-left: 350px;
}

h2.create-schedule-header {
	text-align: center;
	width: 100%;
}

div.form-group.error {
	display: inline-block;
}

div.form-group label {
	width: 4em;
}

div.form-group input {
	margin-right: -5px;
}
div.form-group [for="id_visibility"] {
	margin-right: 5px;
}

div.newfriend {
	margin-top: 75px;
	width: 50%;
	margin-left:auto;
	margin-right: auto;
	padding-left: 175px;
}

div.newfriend div input {
	margin: 15px 0px 0px 10px;

}

h2.add-friend {
	width:20em;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

ul.schedule-list {
    padding-left:0px;
}
