body {
    padding-top:55px;
}

/*Username Link in Nav*/
p.navbar-text.navbar-right a {
	color: #999;
	padding: 15px;
}

p.navbar-text.navbar-right a:hover {
	text-decoration: none;
	color: #fff;
}

/*End - Username Link in Nav*/
/*create event form styling*/
span.formItem::before{content: "\a"; white-space: pre;}
span.formItem label{width:6em;}
/*end- create event styling */