{% extends "scheduler/base.html" %}
{% block title %}Create Event{% endblock %}
{% block head %}
<script>
    $(function() {
        $(".datepicker").datepicker();
    });
</script>
{% endblock %}
{% block body %}
{% if edit %}
<h2>Editing event {{ event }} on {{ event.schedule }}</h2>
<h3>All times are in 24 hour format.</h3>
<form action="/editevent/{{ event.id }}" method="POST">
{% else %}
<h2>Creating event on {{ schedule }}</h2>
<h3>All times are in 24 hour format.</h3>
<form action="/createevent/{{ schedule.id }}" method="POST">
{% endif %}
    {% csrf_token %}
    <span class = "formItem formTime" id = "startTime"><label for="id_start_time">Start time:</label> {{ form.start_time }}</span>
	<span class = "formItem formTime" id = "endTime"><label for="id_end_time">End time:</label> {{ form.end_time }}</span>
	<span class = "formItem formDate" id = "startDate"><label for="id_start_date">Start date:</label> {{ form.start_date }}</span>
	<span class = "formItem formDate" id = "endDate"><label for="id_end_date">End date:</label> {{ form.end_date }}</span>
	<span class = "formItem formWeek" id = "sunday">{{ form.sunday }}<label for="id_sunday"> Sunday</label></span>
	<span class = "formItem formWeek" id = "monday">{{ form.monday }}<label for="id_monday"> Monday</label></span>
	<span class = "formItem formWeek" id = "tuesday">{{ form.tuesday }}<label for="id_tuesday"> Tuesday</label></span>
	<span class = "formItem formWeek" id = "wednesday">{{ form.wednesday }}<label for="id_wednesday"> Wednesday</label></span>
	<span class = "formItem formWeek" id = "thursday">{{ form.thursday }}<label for="id_thursday"> Thursday</label></span>
	<span class = "formItem formWeek" id = "friday">{{ form.friday }}<label for="id_friday"> Friday</label></span>
	<span class = "formItem formWeek" id = "saturday">{{ form.saturday }}<label for="id_saturday"> Saturday</label></span>
	<span class = "formItem formMisc" id = "nameField"><label for="id_name">Name:</label> {{ form.name }}</span>
	<span class = "formItem formMisc" id = "locationField"><label for="id_location">Location:</label> {{ form.location }}</span>
	<span class = "formItem formMisc" id = "descriptionField"><label for="id_description">Description:</label> {{ form.description }}</span>
    <span class = "formItem formMisc" id = "submitButton"><input type="submit"></span>
</form>
{% endblock %}
