{% extends "scheduler/base.html" %}
{% block title %}Create Event{% endblock %}
{% block head %}
<script>
    $(function() {
        $(".datepicker").datepicker();
    });
</script>
{% endblock %}
{% block body %}
{% if edit %}
<h2>Editing event {{ event }} on {{ event.schedule }}</h2>
<h3>All times are in 24 hour format.</h3>
<form action="/editevent/{{ event.id }}" method="POST">
{% else %}
<h2>Creating event on {{ schedule }}</h2>
<h3>All times are in 24 hour format.</h3>
<form action="/createevent/{{ schedule.id }}" method="POST">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>
{% endblock %}
