{% extends "scheduler/base.html" %}
{% block title %}Create Schedule{% endblock %}
{% block head %}
<script>
    $(function() {
        $(".datepicker").datepicker();
    });
</script>
{% endblock %}
{% block body %}
{% if edit %}

<h2 class="create-schedule-header">Editing Schedule: {{ schedule.name }}</h2>
<form class="create-schedule" action="/editschedule/{{ schedule.id }}" method="POST" accept-charset="utf-8">
{% else %}
<h2 class="create-schedule-header">Creating a New Schedule</h2>
<form class="create-schedule" action="/accounts/createschedule/" method="POST" accept-charset="utf-8">
{% endif %}
    {% csrf_token %}
    {%for field in form %}
<div class="form-group{%if field.errors %} error{%endif%}">
{{ field.label_tag }} {{ field }}
</div>
<div class="field-error">
{% if field.errors %}
{{ field.errors }}
{% endif %}
</div>
{% endfor %}
    
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
