{% extends "scheduler/base.html" %}
{% block body %}


{% if pending_requests %}
    <ul>
    {% for request in pending_requests %}
    
    <li>Friend request from {{ request.creator }}
    <a href="/friends/accept/{{ request.id }}">Accept</a>
    <a href="/friends/decline/{{ request.id }}">Decline</a>
    </li>

    {% endfor %}
    </ul>
{% endif %}

{% if friends %}
    <h3>Friends</h3>
    <ul>
    {% for friend in friends %}
        <li>{{ friend.creator }} + {{ friend.friend }} : {{ friend.status }}</li>
    {% endfor %}
    </ul>
    <p><a href="/friends/add">Add a friend</a></p>
{% else %}
    <h3>You haven't added anyone yet! Would you like to <a href="/friends/add">Add a friend?</a></h3>
{% endif %}

{% if sent_requests %}
    <h3>Sent requests</h3>
    <ul>
        {% for request in sent_requests %}
        <li>Pending request sent to {{ request.friend }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
