{% extends "scheduler/base.html" %}
{% block head %}
<style type="text/css">
.friend-list {
    list-style-type:none;
}
</style>
{% endblock %}
{% block body %}


{% if pending_requests %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Friend Requests
        </h3>
    </div>
    <div class="panel-body">
        <ul class="friend-list">
        {% for request in pending_requests %}
        
        <li>Friend request from {{ request.creator }}
        <a href="/friends/accept/{{ request.id }}">Accept</a>
        <a href="/friends/decline/{{ request.id }}">Decline</a>
        </li>

        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if friends %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Friends</h3>
    </div>
    <div class="panel-body">
        <ul class="friend-list">
        {% for friend in friends %}
        <li><a href="/user/{{ friend.friend_user.id }}">{{ friend.friend_user }}</a></li>
        {% endfor %}
        </ul>
        <p><a href="/friends/add">Add a friend</a></p>
    </div>
</div>
{% else %}
{% if not pending_requests %}
    {% if not sent_requests %}
        <h3>You haven't added anyone yet! Would you like to <a href="/friends/add">Add a friend?</a></h3>
        {% endif %}
    {% endif %}
{% endif %}

{% if sent_requests %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Sent requests
        </h3>
    </div>
    <div class="panel-body">
        <ul class="friend-list">
            {% for request in sent_requests %}
            <li>Pending request sent to {{ request.friend }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}
