{% extends "scheduler/base.html" %}
{% block body %}


{% if pending_requests %}
    <ul>
    {% for request in pending_requests %}
        <li>Friend request from {{ request.creator }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if friends %}
    <h3>Friends</h3>
    <ul>
    {% for friend in friends %}
        <li>{{ friend.creator }} + {{ friend.friend }} : {{ friend.status }}</li>
    {% endfor %}
    </ul>
{% else %}
    <h3>You haven't added anyone yet!</h3>
{% endif %}

{% if sent_requests %}
    <h3>Sent requests</h3>
    <ul>
        {% for request in sent_requests %}
        <li>Sent request to {{ request.friend }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
