{% extends "scheduler/base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url=/accounts/profile/">
{% endif %}
{% endblock %}
{% block body %}

{% if form.errors %}
<p class="alert alert-danger">Your username and password didn't match.
   Please try again.</p>
{% endif %}

<div class="login">
	<form action="/accounts/login/" method="post">
	    {% csrf_token %}
		<div>
			<span class = "formItem formUsername" id = "username">
			    	<label for="username">Username:</label> 
			    	{{ form.username }}
			    </span>
			{% if form.username.errors %}
				<div class = "field-error">
					{{form.username.errors}}
				</div>
			{% endif %}
		</div>

		<span class = "formItem formPassword" id = "password">
		    	<label for="username">Password:</label> 
		    	{{ form.password }}
		    </span>
		{% if form.password.errors %}
			<div class = "field-error">
				{{form.password.errors}}
			</div>
		{% endif %}




		<div>
		    <input class="btn btn-default" type="submit" value="login">
		    <input type="hidden" name="next" value="{{ next }}">
		</div>
	</form>
</div>
{% endblock %}
