{% extends "scheduler/base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url=/accounts/profile/">
{% endif %}
{% endblock %}
{% block body %}
{% if form.errors %}
<p>Incorrect user/password</p>
{% endif %}
<div class="login">
	<form action="/accounts/login/" method="post">
	    {% csrf_token %}
	    <p>
	    <label for="id_username">{{ form.username.label }}:</label>
	    {{ form.username }}
	    </p>

	    {{form.username.errors}}


	    
	    <p>
	    <label for="id_password">{{ form.password.label }}:</label>
	    {{ form.password }}
	    <div id="field-error">
	   	{{form.password.errors}}
	   	</div>
	    </p>
	    <input class="btn btn-default" type="submit" value="login">
	    <input type="hidden" name="next" value="{{ next }}">
	</form>
</div>
{% endblock %}
