{% extends "scheduler/base.html" %}
{% block title %}
{% if comparing %}
Comparing your schedule to {{ otheruser.username }}'s
{% else %}
{{ schedule.creator.username }}'s Schedule
{% endif %}
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/stylesheet1.css">
<script>
    $(function() {
        $(".datepicker").datepicker();
    });
    $( window ).scroll(function()
    {
        if ($(window).scrollTop() > $("ul#weekcontainer").offset().top-51)
        {
            if (!$("#weekcontainer").hasClass("scrolleddown"))
            {
                $("#weekcontainer").addClass("scrolleddown");
            }
            $("ul.scrolleddown ul.day li.header").css("margin-left", $(window).scrollLeft() * -1);
        }
        else
        {
            if ($("#weekcontainer").hasClass("scrolleddown"))
            {
                $("ul.scrolleddown ul.day li.header").css("margin-left", 0);
                $("#weekcontainer").removeClass("scrolleddown");
            }
        }
    });
    function scrollTo(element)
    {
        $('html,body').unbind().animate({scrollTop: $(element).offset().top-90},'fast');
    };
    function redirect()
    {
        var newdate = $.datepicker.parseDate("mm/dd/yy", $("#newdate").val());
        window.location.href="/schedule/{{ schedule.id }}/"+(newdate.getTime()/1000);
    }
    $( document ).ready(function()
    {
        // When the page first loads, scroll to the appropriate place.
        scrollTo(window.location.hash);
        // When the user clicks on a "time block" (The time legend displayed on the left side)
        // Scroll to the time they clicked.
        $(".timeblock").click(function()
        {
            scrollTo("#"+this.id);
            window.location.hash = "#"+this.id;
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        {% if comparing %}
        <p>Comparing your schedule to {{ otheruser.username }}'s.</p>
        <p>The dark areas are times where one or both of you are occupied.</p>
        {% else %}
            {% if isowner %}
                <p>Click on an event to edit it.</p>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row scheduleinfo">
    <div class="col-md-10 leftalign">
        <div class="btn-group">
            {% if not comparing %}
                {% if isowner %}
                    <a class="btn btn-default" href="/createevent/{{ schedule.id }}">Create event on this schedule</a>
                    <a class="btn btn-default" href="/editschedule/{{ schedule.id }}">Edit this schedule</a>
                    {% if ismainschedule %}
                    <span class="btn">This is your main schedule.</span>
                    <a class="btn btn-default" href="#" onClick="alert('You can\'t delete your main schedule.');">Delete Schedule</a>
                    {% else %}
                    <a class="btn btn-default" href="/setmainschedule/{{ schedule.id }}">Set as main schedule</a>
                    <a class="btn btn-default" href="/deleteschedule/{{ schedule.id }}">Delete Schedule</a>

                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <input type="text" class="form-control datepicker" id="newdate" readonly="true">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="jumpdatebutton" onClick="redirect();">Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="scheduletitle col-md-12">{{ schedule.name }}</div>
</div>
<div class="row">
    <div class="col-md-2 leftalign">
        <p>
            {% if comparing %}
            <a class="btn btn-default vcenter" href="/schedule/{{ otheruser.id }}/compare/{{ viewinguser.id }}/{{ starttime|add:"-604800" }}"><span class="glyphicon glyphicon-chevron-left"></span> Previous Week</a>
            {% else %}
                <a class="btn btn-default" href="/schedule/{{ schedule.id }}/{{ starttime|add:"-604800" }}"><span class="glyphicon glyphicon-chevron-left"></span> Previous Week</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-8 centeralign">
        <p>
            {% if comparing %}
                <a class="btn btn-default" href="/schedule/{{ otheruser.id }}/compare/{{ viewinguser.id }}">This Week</a>
            {% else %}
                <a class="btn btn-default" href="/schedule/{{ schedule.id }}/">This Week</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-2 rightalign">
        <p>
            {% if comparing %}
                <a class="btn btn-default" href="/schedule/{{ otheruser.id }}/compare/{{ viewinguser.id }}/{{ starttime|add:"604800" }}">Next Week <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% else %}
                <a class="btn btn-default" href="/schedule/{{ schedule.id }}/{{ starttime|add:"604800" }}">Next Week <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endif %}
        </p>
    </div>
</div>
<ul id="weekcontainer" class="week">
    <li class="timelegend">
        <ul class="timelegend">
            <li class="header">asdf</li>
            <li class="timeblock" id="000">0:00</li>
            <li class="timeblock" id="100">1:00</li>
            <li class="timeblock" id="200">2:00</li>
            <li class="timeblock" id="300">3:00</li>
            <li class="timeblock" id="400">4:00</li>
            <li class="timeblock" id="500">5:00</li>
            <li class="timeblock" id="600">6:00</li>
            <li class="timeblock" id="700">7:00</li>
            <li class="timeblock" id="800">8:00</li>
            <li class="timeblock" id="900">9:00</li>
            <li class="timeblock" id="1000">10:00</li>
            <li class="timeblock" id="1100">11:00</li>
            <li class="timeblock" id="1200">12:00</li>
            <li class="timeblock" id="1300">13:00</li>
            <li class="timeblock" id="1400">14:00</li>
            <li class="timeblock" id="1500">15:00</li>
            <li class="timeblock" id="1600">16:00</li>
            <li class="timeblock" id="1700">17:00</li>
            <li class="timeblock" id="1800">18:00</li>
            <li class="timeblock" id="1900">19:00</li>
            <li class="timeblock" id="2000">20:00</li>
            <li class="timeblock" id="2100">21:00</li>
            <li class="timeblock" id="2200">22:00</li>
            <li class="timeblock" id="2300">23:00</li>
        </ul>
    </li>

    {% for day, dayevents in events %}

            <li class="daycontainer">
            <ul class="day">
                <li class="header">{{day.date|date:"l"}} {{ day.date }} </li>


                {% for event in dayevents %}
                    <li class="event" style="margin-top: {{ event.from_top }}px; height: {{ event.height }}px;">
                    {% if not comparing %}
                        {% if isowner %}
                            <a href="/editevent/{{ event.id }}">
                        {% endif %}
                                {{ event.name }}
                                {{ event.start_time }} - {{ event.end_time }}
                        {% if isowner %}
                            </a>
                        {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}

