{% extends "scheduler/base.html" %}
{% block title %}{{ schedule.creator.username }}'s Schedule{% endblock %}
{% block head %}
<link rel="stylesheet" href="/stylesheet1.css">
{% endblock %}

{% block body %}
{% if comparing %}
<p>Comparing your schedule to {{ user1.username }}'s.</p>
<p>The dark areas are times where one or both of you are occupied.</p>
{% else %}
    <p>{{ schedule.name }}</p>
    {% if isowner %}
    <p>Click on an event to edit it.</p>
    <p>
        <a href="/createevent/{{ schedule.id }}">Create event on this schedule</a>
        | <a href="/editschedule/{{ schedule.id }}">Edit this schedule</a>
        {% if ismainschedule %}
        | This is your main schedule.
        {% else %}
        | <a href="/setmainschedule/{{ schedule.id }}">Set as main schedule</a>
        | <a href="/deleteschedule/{{ schedule.id }}">Delete Schedule</a>

        {% endif %}
    </p>
    {% endif %}
    <p>
        <a href="/schedule/{{ schedule.id }}/{{ starttime|add:"-604800" }}">Previous Week</a>
        | <a href="/schedule/{{ schedule.id }}/">This Week</a>
        | <a href="/schedule/{{ schedule.id }}/{{ starttime|add:"604800" }}">Next Week</a>
        </p>
{% endif %}
<ul class="week">
    <li class="timelegend">
        <ul class="timelegend">
            <li class="header">asdf</li>
            <li class="timeblock">0:00</li>
            <li class="timeblock">1:00</li>
            <li class="timeblock">2:00</li>
            <li class="timeblock">3:00</li>
            <li class="timeblock">4:00</li>
            <li class="timeblock">5:00</li>
            <li class="timeblock">6:00</li>
            <li class="timeblock">7:00</li>
            <li class="timeblock">8:00</li>
            <li class="timeblock">9:00</li>
            <li class="timeblock">10:00</li>
            <li class="timeblock">11:00</li>
            <li class="timeblock">12:00</li>
            <li class="timeblock">13:00</li>
            <li class="timeblock">14:00</li>
            <li class="timeblock">15:00</li>
            <li class="timeblock">16:00</li>
            <li class="timeblock">17:00</li>
            <li class="timeblock">18:00</li>
            <li class="timeblock">19:00</li>
            <li class="timeblock">20:00</li>
            <li class="timeblock">21:00</li>
            <li class="timeblock">22:00</li>
            <li class="timeblock">23:00</li>
        </ul>
    </li>
    {% for day, dayevents in events %}
        <li class="daycontainer">
            <ul class="day">
                <li class="header"> {{ day.date }} </li>
                {% for event in dayevents %}
                    <li class="event" style="margin-top: {{ event.from_top }}px; height: {{ event.height }}px;">
                    {% if not comparing %}
                        {% if isowner %}
                            <a href="/editevent/{{ event.id }}">
                        {% endif %}
                                {{ event.name }}
                                {{ event.start_time }} - {{ event.end_time }}
                        {% if isowner %}
                            </a>
                        {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
