.week {
    list-style-type:none;
}
.daycontainer {

    width:200px;
    height:1220px;
    margin-left: 4px;
    margin-right: 4px;
    float:left;
    background-image: url("http://dillonb.github.io/scheduler/tiledaybg.png");
    background-attachment:scroll;
    background-position: 0 20px;
    border-style: none solid none solid;
    border-width:1px;
}
/*Style for the current time line*/
.timeLine {
    background-color:rgba(0,0,0,0.1);
    border-bottom: solid red 2px;
    position: absolute;
    width: 199px;
    z-index: 1337;
}
/*end timeline style*/
ul.scrolleddown .daycontainer {
    background-position: 0 0;
}
li.timelegend {
    width: 50px;
    height: 1220px;
    float:left;
}
ul.timelegend {
    list-style-type:none;
    width:50px;
    margin-left: -40px;
}
.day {
    list-style-type:none;
    margin-left: -40px;
}
.header {
    top:0;
    height:20px;
    background-color:rgb(51,51,51);
    color:white;
    z-index:100;
}
/* jQuery will give ul#weekcontainer the class scrolleddown if the page is scrolled down*/
ul.scrolleddown .header {
    top: 50px;
    width: 199px;
    height: 20px;
    background-color:rgb(51,51,51);
    color:white;
    position:fixed;
}
ul.scrolleddown li.timelegend ul.timelegend li.header {
    display:none;
}
ul.timelegend .header {
    width:50px;
    background-color:white;
    border-bottom-style:solid;
    border-bottom-color:black;
    border-bottom-width:2px;
}
.event {
    background-color: #ddd;
    background-color:rgba(0,0,0,0.75);
    color:white;
    position:absolute;
    width:199px;
    overflow:auto;
}
.event a {
    position:absolute;
    color:white;
    text-decoration:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
event a:hover {
    color:white;
    text-decoration:none;
}
li.timeblock {
    height: 50px;
    width: 50px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    cursor:pointer;
    cursor:hand;
}
body .body {
    width: 1600px;
}
.scheduletitle {
    text-align:center;
    font-size:30pt;
}

.scheduleinfo div {
    text-align:center;
}
.eventmenu {
    z-index:10;
}
ul.dropdown-menu {
    z-index:20;
}
.eventmenu ul li {
    height:20px;
}
.eventmenu ul li a {
    height: 20px;
}
.eventinfo {
    margin-right:20px;
}
div.eventmenu .dropdown-toggle {
    height:10px;
    float:right;
    text-align:right;
    padding-right:10px;
}
.eventmenucontainer {
    position:absolute;
    width:20px;
    margin-left:176px;
    height:auto;
    z-index:9000;
}
.eventmenubtn {
    color:darkgray;
    background-color:black;
    border-radius:0;
    border:none;
    z-index:9001;
}
div.eventmenu.open .eventmenubtn {
    background-color:darkgray;
    color:white;
}

div.eventmenu .eventmenubtn:hover {
    background-color:darkgray;
}
#jumptodatecontainer {
    max-width:300px;
}
