{% extends "scheduler/base.html" %}
{% block title %}Account Page of {{ user.username }}{% endblock %}
{% block body %}

<ul>
    {% for schedule in schedules %}
    <li><a href="/schedule/{{ schedule.id }}">{{ schedule }}</a></li>
    {% endfor %}
    {% if friendsOnly %}
    {% for friendsched in friendsOnly %}
    <li><a href="/schedule/{{ friendsched.id }}">{{ friendsched }}</a></li>
    {% endfor %}
    {% endif %}
    {% if private %}
    {% for priv in private %}
    <li><a href="/schedule/{{ priv.id }}">{{ priv }}</a></li>
   	{% endfor %}
    {% endif %}
</ul>
{% endblock %}
