{% extends "scheduler/base.html" %}
{% block title %}Account Page of {{ pageuser.username }}{% endblock %}
{% block head %}
<style type="text/css">
#schedule-list {
    list-style-type:none;
}
#schedule-list li {
    margin-bottom:10px;
}
</style>
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>{{ pageuser.username }}'s profile</h1>
</div>
{% if main %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Main Schedule</h3>
    </div>
    <div class="panel-body">
        <a href="/schedule/{{ main.id }}">{{ main }}</a>
        {% if is_self %}
        {% else %}
            {% if request_user_has_main_schedule %}
            |
            <a href="/schedule/{{ pageuser.id }}/compare/{{ request.user.id }}">
                Compare to my main schedule
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">All Schedules</h3>
    </div>
    <div class="panel-body">
        <ul class="schedule-list list-group">
            {% if schedules %}
                {% for schedule in schedules %}
                    <li class="list-group-item"><a class="btn" href="/schedule/{{ schedule.id }}">{{ schedule }}</a></li>
                {% endfor %}
            
            {% if friendsOnly %}
                {% for friendsched in friendsOnly %}
                    <li class="list-group-item"><a class="btn" href="/schedule/{{ friendsched.id }}">{{ friendsched }}</a></li>
                {% endfor %}
            {% endif %}
            
            {% if private %}
                {% for priv in private %}
                    <li class="list-group-item"><a class="btn" href="/schedule/{{ priv.id }}">{{ priv }}</a></li>
                {% endfor %}
            {% endif %}
        {% else %}
            <h4>{{ pageuser.username }} has no schedules which you can see.</h4>
        {% endif %} 
        </ul>
    </div>
</div>
{% endblock %}
