{% extends "scheduler/base.html" %}
{% block title %}Account Page of {{ pageuser.username }}{% endblock %}
{% block head %}
<style type="text/css">
#schedule-list {
    list-style-type:none;
}
#schedule-list li {
    margin-bottom:10px;
}
</style>
{% endblock %}
{% block body %}
{% if main %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Main Schedule</h3>
    </div>
    <div class="panel-body">
        <a href="/schedule/{{ main.id }}">{{ main }}</a>
    </div>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Other Schedules</h3>
    </div>
    <div class="panel-body">
        <ul id="schedule-list">
            {% for schedule in schedules %}
            <li><a href="/schedule/{{ schedule.id }}">{{ schedule }}</a></li>
            {% endfor %}
            {% if friendsOnly %}
            {% for friendsched in friendsOnly %}
            <li><a href="/schedule/{{ friendsched.id }}">{{ friendsched }}</a></li>
            {% endfor %}
            {% endif %}
            {% if private %}
            {% for priv in private %}
            <li><a href="/schedule/{{ priv.id }}">{{ priv }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
